Web.DemoApplication/Service References/WcfService/MemberServices2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfApi.DemoApplication.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfApi.DemoApplication.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMemberEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MemberEntity" nillable="true" type="tns:MemberEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMemberEntity" nillable="true" type="tns:ArrayOfMemberEntity" />
  <xs:complexType name="MemberEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MemberEntity" nillable="true" type="tns:MemberEntity" />
</xs:schema>